@model TechIncidentEditViewModel

<partial name="_ScriptsPartial" />

<h1 class="fw-bold pb-1 mb-2">Edit Incident</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label class="col-md-2">Technician:</label>
        <label class="col-md-10">@Model.Technician</label>
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Customer:</label>
        <label class="col-md-10">@Model.Customer</label>
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Product:</label>
        <label class="col-md-10">@Model.Product</label>
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Title:</label>
        <label class="col-md-10">@Model.Title</label>
    </div>

    <div class="row mb-3">
        <label class="col-md-2">Date Opened:</label>
        <label class="col-md-10">@Model.OpenDate</label>
    </div>

    <div class="row mb-3">
        <label asp-for="Description" class="col-md-2">Description:</label>
        <textarea asp-for="Description" class="col-md-8" rows="3"></textarea>
    </div>

    <div class="row mb-3">
        <label asp-for="CloseDate" class="col-md-2">Date Closed:</label>
        <input asp-for="CloseDate" class="col-sm-2" />
    </div>

    <input type="hidden" asp-for="@Model.Id" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="TechIncident" asp-action="List" class="btn btn-primary">Cancel</a>
</form>