@model TechIncidentListViewModel

<h2 class="fw-bold pb-1 mb-2">Technician: @Model.Technician.Name</h2>
<h2 class="fw-bold pb-1 mb-2">Assigned/Open Incidents</h2>
<table class="table table-hover">
    <thead>
        <tr><th>Title</th><th>Customer</th><th>Product</th><th>Date Opened</th></tr>
    </thead>
    <tbody>
        @foreach (var incident in Model.Incidents)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer</td>
                <td>@incident.Product</td>
                <td>@incident.OpenDate</td>
                <td>
                    <a asp-controller="TechIncident" asp-action="Edit"
                    asp-route-id="@incident.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="TechIncident" asp-action="Select" class="btn btn-primary">Switch Technician</a>